<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Member Home Page</title>
<link rel="stylesheet" href="/style.css" type="text/css"/>
</head>
<body>
<div id="header">
<h1>Remember valued employee: Service is our #1 priority!</h1>
<a href="../home">Logout</a>
</div>
<table border=1 class="center">
<tr>
<td><a href="../viewAllMovie">View All Movies</a></td>
<td><a href="../viewAllMember">View All Members</a></td>
<td><a href="../viewAllPaymentTypes">View all Payment Types</a></td>
<td><a href="../addMovie">Add A Movie</a></td>
<td><a href="../viewAllMovie">Edit/Delete A Movie</a></td>
<td><a href="../addPaymentType">Add a Payment Type</a></td>
</tr></table>
<hr>
<a href="">Delete Employee Account</a>
</body>
</html>