<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Member Home Page</title>
<link rel="stylesheet" href="/style.css" type="text/css"/>
</head>
<body>
<div id="header">
<hr>
<h1>Welcome! Thank you for using our service!</h1>
<a href="home" class="logout">Logout</a>
</div>
<table border=1, class="center">
<tr>
<td><a href="viewAllMovies">View All Movies</a></td>
<td><a href="/rentalRegistration">Rent a Movie</a></td>
<td><a href="/memberRentals">View/Check-in Rentals</a></td>
</tr></table>
<hr>
<a href="">Delete Account</a>
</body>
</html>