<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Your Rentals</title>
<link rel="stylesheet" href="/style.css" type="text/css"/>
</head>
<body>
<div id="header">
<h1>Your Rentals</h1>
</div>
<form  method=POST>
<table class="center">
<tr>
    <th>Rental ID</th>
    <th>Member ID</th>
    <th>Member</th>
    <th>Movie</th>
     <th>Checkout</th>
    <th>Check-in</th>
  </tr>
<tr th:each="currentRental : ${rentals}" >
<td th:text="${currentRental.rentalID}" />
<td th:text="${currentRental.member.memberID}" />
<td th:text="${currentRental.member.firstName}" />
<td th:text="${currentRental.movie.title}" />
<td th:text="${currentRental.checkoutDateTime}" />
<td th:text="${currentRental.checkinDateTime}" />
<td><a th:href="@{/update/{id}(id=${currentRental.rentalID})}">Check In</a></td>

</tr>
</table>
</form>
<a href="../rentalRegistration">Rent Another</a>
</body>
</html>