<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Movie</title>
<link rel="stylesheet" href="/style.css" type="text/css"/>
<script>
      function validate() {
      
         if( document.myForm.title.value == "" ) {
            alert( "Please provide title!" );
            document.myForm.title.focus() ;
            return false;
         }
         if( document.myForm.categoryId.value == "" ) {
             alert( "Please provide category Id!" );
             document.myForm.categoryId.focus() ;
             return false;
          }
         if( document.myForm.value.value == "" ) {
            alert( "Please provide value!" );
            document.myForm.value.focus() ;
            return false;
         }
         if( document.myForm.quantity.value == "" ) {
             alert( "Please provide quantity!" );
             document.myForm.quantity.focus() ;
             return false;
          }
         if(document.myForm.MovieType.value == ""){
        	 alert( "You must choose a movie type" );
             //document.myForm.movieType.focus() ;
             return false;
         }
         return( true );
      }
</script>
</head>
<body>
<div id="header">
<h1>Add or Update Movie on the list</h1>
<a href="../viewAllMovie">Go Movie List</a>
</div>
<form th:object="${newMovie}" 
th:action= "@{/updateMovie/{id}(id=${newMovie.movieID})}" name = "myForm" onsubmit = "return validate();" method='POST'>

<label for="fname">Movie Title:</label><br>
<input name="title" size="20" 
th:field="*{title}"><br /><br />

<div>
<label for="MovieType">Movie Category:</label>
	<select name="MovieType" id="MovieType">
		<option th:each="movieType : ${movieTypes}" th:value="${movieType.categoryId}" th:text="${movieType.category}"></option>
	</select>
	<a href="../addMovieType">Add a movie type</a>
</div>
<br>
<label for="fname">Movie Value:</label><br>
<input name="value" size="20" 
th:field="*{value}"><br /><br />

<label for="fname">Movie Quantity:</label><br>
<input name="quantity" size="20"
th:field="*{quantity}"><br /><br />

<input name="submit" type="submit" value="submit" class="btn" />
</form>
</body>
</html>
