<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Movie Type</title>
<link rel="stylesheet" href="/style.css" type="text/css"/>
<script>
      function validate() {
    	  
         if( document.myForm.categoryId.value == "" ) {
             alert( "Please provide category Id!" );
             document.myForm.categoryId.focus() ;
             return false;
          }
         
         if( document.myForm.category.value == "" ) {
             alert( "Please provide category!" );
             document.myForm.title.focus() ;
             return false;
          }
         return( true );
      }
</script>
</head>
<body>
	<div id="header">
		<h1>Add a Movie Type</h1>
			<a href="../viewAllMovies">View Movie List</a>
	</div>
	<form th:object="${newMovieType}"  name = "myForm" onsubmit = "return validate();" method='POST'>
		<br>
		<br>
		<label for="category">Category Name:</label>
		<input type="text" name="category">
		<input name="submit" type="submit" value="Add" class="btn" />
	</form>
</body>
</html>
