<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Rent a Movie</title>
</head>
<body>
<form th:object="${newRental}" th:action="@{/rentalRegistration}" method='POST'>	
		<label for="memberID">Member:</label> 
		<input name="memberID" size="4"><br>
		
		<!--   <label for="movieID">Movie: </label>
			<select name="allMovies">
			<c:forEach items="${requestScope.allMovies}" var="currentMovie">
   			<option value = "${currentMovie.id}">${currentMovie.movieName} | ${currentMovie.quantity}</option>
			</c:forEach>
			</select>
			</div>-->
			
		<h2>Payment Method: </h2>
		<input type="radio" name="paymentMethod" id="account" value="1" >
		<label for="account">Account</label>
		
		<input type="radio" name="paymentMethod" id="creditCard" value="2">
		<label for="creditCard">Credit Card</label>
		
		<input type="radio" name="paymentMethod" id="check" value="3" >
		<label for="check">Check</label>
		
		<input type="radio" name="paymentMethod" id="cash" value="4" >
		<label for="cash">Cash</label>
		
		<input type="radio" name="paymentMethod" id="debit" value="5" >
		<label for="debit">Debit Card</label>
		
		
		
		<input name="submit" type="submit" value="submit"/>
	</form>
</body>
</html>